@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Didact+Gothic&family=Permanent+Marker&family=Yanone+Kaffeesatz:wght@300;400&display=swap');
body {
  color: black;
  font-family: 'Allerta Stencil', sans-serif;
}

header {
  font-size: x-large;
}

.contenant {
  position: relative;
  text-align: center;
  color: black;
}

.text_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  font-size: large;
}

header, footer {
  font-weight: bold;
}

main {
  font-family: 'Didact Gothic', sans-serif;
}

.justify {
  text-align: justify;
}