@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

/* Body */
body {
  color: black;
}
header {
  font-size: large;
}

.contenant {
  position: relative;
  text-align: center;
}

.text_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color:maroon;
}

.banner {
  font-family: Yanone Kaffeesatz;
}

.justify {
  text-align: justify;
}